* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 992px) {
  footer.story .parallax-container {
    height: 550px;
  }
}

@media (max-width: 600.98px) {
  footer.story .parallax-container {
    height: 1270px;
  }
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

header img {
  margin: 1px 0;
  width: 1.6em;
}

header nav .login,
header .sidenav .login {
  border-left: 1px solid white;
}

header nav .login .btn,
header .sidenav .login .btn {
  border-radius: 50px;
  background-color: #1a237e;
  border: 1px solid #bf360c;
}

div.search .card {
  padding: 7px;
}

div.search .btn {
  background-color: #1a237e;
  border: solid #1a237e;
  line-height: 33px;
}

@media (max-width: 991px) {
  .property {
    font-size: 12px;
  }
  .property h5,
  .property span.location {
    font-size: 1em !important;
  }
}

section.name {
  min-height: 351px;
  max-height: 451px;
  margin: 100px 10px;
}

.property {
  margin-bottom: 20px;
}

.property .card {
  padding-bottom: 15px;
}

.property figure {
  margin: 0;
}

.property img {
  padding: 0;
}

.property figcaption {
  background: white;
  color: #fe6400;
  padding: 5px;
  font-size: 1rem;
  width: 60%;
  margin: 0;
  font-weight: bold;
  float: left;
  position: absolute;
  z-index: 9;
  -webkit-transform: translate(10px, -50px);
          transform: translate(10px, -50px);
  border-radius: 10px;
}

.property figcaption::after {
  content: "";
  clear: both;
  display: table;
}

.property span.locations {
  color: #fff;
  background: #fe6400;
  padding: 12px 5px 5px 0px;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  margin: 0;
  font-weight: bold;
}

.property a.more {
  padding: 5px 20px;
}

.property .clearfix {
  overflow: auto;
}

.property p {
  color: #616161;
  height: 4.9rem;
  padding: 5px 20px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.1rem;
}

.property2 {
  margin-bottom: 20px;
}

.property2 .s12 {
  padding: 0 3px;
}

.property2 .m6 {
  padding: 0;
}

.property2 .card.property .row {
  padding: 1rem 0 1rem 2rem;
  margin: 0;
}

.property2 .card.agent .row {
  padding: 1rem 0 1rem 0;
  margin: 0;
}

.property2 .card.agent .row p {
  padding: 1em 2px 1em 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 19px;
  height: 55px;
}

.property2 span {
  display: inline;
  width: 100%;
}

.property2 .col.s6 {
  padding: 0;
}

.property2 figure {
  margin: 0;
}

.property2 img {
  padding: 0px;
  border-radius: 20px 0 20px 20px;
}

.property2 h6 {
  background: #fe6400;
  color: white;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin: 0;
  font-weight: bold;
}

.property2 p {
  color: #616161;
  height: 4.9rem;
  padding: 5px 20px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.1rem;
}

.property2 .feature-property {
  margin: 0.5rem 0 1rem 0;
  background: #757575;
  padding: 10px 2px;
  overflow: hidden;
}

.property2 .feature-property span {
  margin: 3px 8px 3px 8px;
}

.agent .container .row .col {
  margin: 50px auto;
}

.parallax-container img {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.parallax-container .container {
  margin: auto;
}

footer {
  margin-top: -20px;
}

footer .row {
  padding-top: 50px;
  padding-bottom: 100px !important;
}

footer .row .collection {
  border: none;
  background: rgba(255, 127, 80, 0) !important;
}

footer .row .collection .collection-item {
  padding: 20px;
  border-bottom: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
}

footer .row h5 {
  margin-bottom: 100px;
}

footer .row h5::after {
  content: '';
  display: block;
  border-bottom: 2px solid #bf360c;
  margin: 20px auto;
  width: 25%;
}

footer i {
  padding-right: 15px;
}

footer .footer-copyright {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
}

footer .footer-copyright .container {
  margin: 20px auto;
}

.detail-property .col12.desc-property {
  padding: 0 0 24px 0;
}

.detail-property .col12.desc-property .a-glance {
  margin: 5px 0;
  padding: 15px 25px;
}

.detail-property .col12.desc-property .a-glance span.price {
  color: #fe6400;
  padding: 5px;
  font-size: 1.3rem;
  width: 60%;
  margin: 0;
  font-weight: 500;
}

.detail-property .col12.desc-property .a-glance h4 {
  margin: 10px 0;
  padding: 0 10px;
  font-weight: 500;
}

.detail-property .col12.desc-property .a-glance span.location {
  color: #fe6400;
  padding: 10px;
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  font-weight: 400;
  z-index: 9;
}

.detail-property .col12.desc-property .spesifikasi {
  margin: 10px 0;
  padding: 25px 24px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.detail-property .col12.desc-property .spesifikasi span {
  margin: 0 6px;
}

.detail-property .col12.desc-property .description {
  overflow: visible;
  font-size: 0.8rem;
  display: block;
}

.detail-property .col12.desc-property .description p {
  white-space: pre-wrap;
  text-indent: -40px;
  text-align: left;
  width: 100%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.detail-property .col12.desc-property .feature .title-feature {
  background: #cccccc;
}

.detail-property .col12.desc-property .feature .title-feature h5 {
  margin: 1rem 0 0 0;
  border-top: 0.5px solid #1a237e;
  padding: 5px 0;
}

.detail-property .col12.desc-property .feature .list-item {
  display: block;
  padding-top: 10px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  background-color: #efefef;
  border-top: 1px solid #bf360c;
  border-bottom: 1px solid #1a237e;
}

.detail-property .col12.desc-property .feature .list-item li.item {
  background: url(ceklis.png) !important;
  list-style-type: disc;
  float: left;
  width: 25%;
  margin: 0 27px 2px 0;
}

.detail-property .col12.desc-property .feature .list-item::after {
  content: "";
  margin-bottom: 10px;
  clear: both;
  display: table;
}

.detail-property .col12.desc-property .galery {
  margin: 3em 24px 0 24px;
}

.detail-property .col12.desc-property .galery .row {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.detail-property .col12.desc-property .galery .col.m3 {
  color: #1a237e;
}

.property {
  margin-bottom: 20px;
}

.property .card {
  padding-bottom: 15px;
}

.property figure {
  margin: 0;
}

.property img {
  padding: 0;
}

.property figcaption {
  background: white;
  color: #fe6400;
  padding: 5px;
  font-size: 1rem;
  width: 60%;
  margin: 0;
  font-weight: bold;
  float: left;
  position: absolute;
  z-index: 9;
  -webkit-transform: translate(10px, -50px);
          transform: translate(10px, -50px);
  border-radius: 10px;
}

.property figcaption::after {
  content: "";
  clear: both;
  display: table;
}

.property span.location {
  color: #fe6400;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin: 0;
  font-weight: bold;
  z-index: 9;
}

.property a.more {
  padding: 5px 20px;
}

.property .clearfix {
  overflow: auto;
}

.property p {
  color: #616161;
  height: 4.9rem;
  padding: 5px 20px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.1rem;
}

.property ul.pagination {
  margin-bottom: 4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 60%;
  overflow: visible;
  outline: 0;
}

@media (max-width: 676px) {
  .modal-ms {
    width: 95%;
    margin: 0 auto;
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-content h6 {
  background: #fe6400;
  color: white;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin: 0;
  font-weight: bold;
}

.modal-content img {
  padding: 0;
  border-radius: 10px 0 0 10px;
}

.modal-content .col.s6 {
  padding: 0;
}

.modal-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer a.btn.waves-effect {
  margin: 0 10px;
}

.modal-footer > * {
  margin: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.login {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body.login svg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

body.login .container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

body.login .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.login .login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body.login .img img {
  width: 500px;
}

body.login form {
  width: 360px;
}

body.login .login-content img {
  height: 100px;
}

body.login .login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

body.login .login-content .input-div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 93%;
      grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

body.login .login-content .input-div.one {
  margin-top: 0;
}

body.login .i {
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.login .i i {
  -webkit-transition: .3s;
  transition: .3s;
}

body.login .input-div > div {
  position: relative;
  height: 45px;
}

body.login .input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #d1d1d1;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

body.login .input-div:before,
body.login .input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #1a237e;
  -webkit-transition: .7s;
  transition: .7s;
}

body.login .input-div:before {
  right: 50%;
}

body.login .input-div:after {
  left: 50%;
}

body.login .input-div.focus:before,
body.login .input-div.focus:after {
  width: 50%;
}

body.login .input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

body.login .input-div.focus > .i > i {
  color: #1a237e;
}

body.login .input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #1a237e;
  font-family: 'poppins', sans-serif;
}

body.login .input-div.pass {
  margin-bottom: 4px;
}

body.login a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  -webkit-transition: .3s;
  transition: .3s;
}

body.login a:hover {
  color: #1a237e;
}

body.login .btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a237e), color-stop(#311b92), to(#0d47a1));
  background-image: linear-gradient(to right, #1a237e, #311b92, #0d47a1);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

body.login .btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  body.login .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  body.login form {
    width: 290px;
  }
  body.login .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  body.login .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  body.login .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body.login .img {
    display: none;
  }
  body.login svg {
    display: none;
  }
  body.login .login-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */